.App {
    text-align: center;
    color: white;
    border-left: 15px solid #2d3327;
    border-right: 15px solid #2d3327;
}

.App-header {
    background-color: #2d3327;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    white-space: nowrap;
}

.App-main {
    background-color: #f4efd2;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: #2d3327;
    position: sticky;
}

.App-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.App-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 150px;
    height: border-box;
    margin-top: 13rem;
    margin-bottom: 3rem;
}

.App-footer {
    background-color: #2d3327;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: sticky;
    white-space: nowrap;
}

.App-link {
    color: #91f961;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .App-header {
        min-height: 5vh;
    }

    .App-footer {
        min-height: 5vh;
    }
    
    .App-menu {
        display: none;
    }
}
