html {
    box-sizing: border-box;
    background-color: #d2dba6;
    overflow: hidden;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'GangwonEduPowerExtraBoldA', 'Noto Sans KR', 
        sans-serif;
    color: #2d3327;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #2d3327;
    text-decoration: none;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: flex-start;
}
